<main>
    <h1 class="text-center my-4">Ошибка!</h1>
    <h2 class="text-center my-4">Страница не найдена.</h2>
    <footer class="container p-4">
        <div class="d-lg-flex justify-content-between align-items-end">
            <div>
                <a href="#navigation">
                    <div>
                        <img width="40" height="40" src="assets/img/logo.png" alt="Логотип">
                    </div>
                </a>
            </div>
            <div class="d-lg-flex justify-content-between">
                <div class="copyright text-color mx-2">
                    Павел Томашайтис
                </div>
                <div class="copyright text-color mx-2">
                    Владислав Барышников
                </div>
                <div class="copyright text-color mx-2">
                    Денис Елагин
                </div>
                <div class="copyright text-color mx-2">
                    Ле Хань Хоанг
                </div>
            </div>
        </div>
    </footer>
</main>