<main>
  <h3>Навигационная панель</h3>
  <div class="container">
    <div>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная страница</a>
    </div>
    <div>
      <a routerLink="monitors">Мониторы</a>
    </div>
    <div>
      <a routerLink="processors">Процессоры</a>
    </div>
    <div>
      <a routerLink="video_cards">Видеокарты</a>
    </div>
    <div>
      <a routerLink="drives">Накопители</a>
    </div>
    <div>
      <a routerLink="devices">Устройства</a>
    </div>
  </div>
</main>
<router-outlet/>