<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <div class="navbar-toggler-icon">
        <img width="40" height="40" src="assets/img/logo.png" alt="Логотип">
      </div>
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item acive">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Главная страница</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="monitors">Мониторы</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="processors">Процессоры</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="drives">Накопители</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="video_cards">Видеокарты</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="mx-3">
            <a class="text-decoration-none text-color" routerLink="devices">Прочие устройства</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet/>
<footer class="container-fluid p-4 border-top mt-3">
  <div class="d-lg-flex justify-content-between">
    <div class="d-lg-flex flex-column justify-content-left align-items-center">
      <div class="mr-2">
        <a href="#navigation">
          <div class="mx-auto">
            <img width="80" height="80" src="assets/img/logo.png" alt="Логотип">
          </div>
        </a>
      </div>
      <div class="my-3">
        <a href="#navigation" class="text-decoration-none text-color">
          Собери сам!
        </a>
      </div>
    </div>
    <div>
      <h5>Компания</h5>
      <ul class="list-unstyled">
        <li>
          <a href="#headingOne" class="text-decoration-none text-color">
            О нас
          </a>
        </li>
        <li>
          <a href="#headingTwo" class="text-decoration-none text-color">
            Товары
          </a>
        </li>
        <li>
          <a href="#headingThree" class="text-decoration-none text-color">
            Команда
          </a>
        </li>
        <li>
          <a href="#headingFour" class="text-decoration-none text-color">
            Партнёры
          </a>
        </li>
        <li>
          <a href="#headingFive" class="text-decoration-none text-color">
            Контакты
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h5>Компоненты ПК</h5>
      <ul  class="list-unstyled">
        <li>
          <a routerLink="monitors" class="text-decoration-none text-color">
            Мониторы
          </a>
        </li>
        <li>
          <a routerLink="processors" class="text-decoration-none text-color">
            Процессоры
          </a>
        </li>
        <li>
          <a routerLink="drives" class="text-decoration-none text-color">
            Накопители
          </a>
        </li>
        <li>
          <a routerLink="video_cards" class="text-decoration-none text-color">
            Видеокарты
          </a>
        </li>
        <li>
          <a routerLink="devices" class="text-decoration-none text-color">
            Прочие устройства
          </a>
        </li>
      </ul>
    </div>
    <div class="d-lg-flex flex-column justify-content-between align-items-center">
      <div class="copyright ">
        <a href="#">
          <div>
            <img width="40" height="40" src="assets/img/telegram.png" alt="telegram">
          </div>
        </a>
      </div>
      <div class="copyrigh">
        <a href="#">
          <div>
            <img width="40" height="40" src="assets/img/vk.png" alt="vk">
          </div>
        </a>
      </div>
      <div class="copyright">
        <a href="#">
          <div>
            <img width="40" height="40" src="assets/img/whatsapp.png" alt="whatsapp">
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>