<main>
    <div id="carouselExampleCaptions" class="carousel slide w-75 mx-auto my-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Мониторы"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Процессоры"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Накопители"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Видеокарты"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Устройства"></button>
        </div>
        <h1 id="item-1" class="text-center my-3"><span class="text-color">"Собери сам!"</span> - магазин комплектующих
            ПК</h1>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/monitors.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Мониторы</h5>
                    <p>Идеальное сочетание частоты обновления, высокого разрешения и динамичного контраста создает уникальный игровой опыт. 
                       Осуществите шаг в мир ярких изображений и кристально четких деталей с нашими мониторами.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/processors.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Процессоры</h5>
                    <p>Мозг вашего компьютера. Наши процессоры обеспечат вам мощь и производительность для запуска самых требовательных приложений без задержек, 
                       гарантируя плавное и быстрое выполнение поставленных задач.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/drivers.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Накопители</h5>
                    <p>Храните свои данные безопасно и доступно с нашими надежными накопителями. 
                       Высокая скорость передачи данных и большой объем памяти помогут вам организовать и хранить ваши данные с легкостью.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/video_cards.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Видеокарты</h5>
                    <p>Погрузитесь в мир виртуальной реальности и захватывающих игровых миров с нашими передовыми видеокартами. 
                       Улучшенная графика и плавная подача изображения обеспечат вам непрерывное и захватывающее игровое испытание.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/devices.jpg" class="d-block w-100 rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Прочие устройства</h5>
                    <p>От мультимедийных колонок до веб-камер — наш магазин предлагает широкий спектр возможностей для дополнительного улучшения вашего компьютера. 
                       Воспользуйтесь этим разнообразием, чтобы расширить функционал вашей системы.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="accordion mx-auto" id="accordionExample" style="width: 90%;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button text-color" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    О нас
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    PcPartsStore - это магазин комплектующих для компьютера, стремящийся предоставить клиентам доступ к лучшим технологическим решениям. 
                    Наша цель - сделать покупку компьютерных компонентов простой и приятной, обеспечивая высокое качество продукции и надежное обслуживание. 
                    Мы предлагаем широкий ассортимент товаров, включая мониторы, процессоры, накопители, видеокарты и многие другие комплектующие, от ведущих 
                    мировых производителей. Наша команда состоит из профессионалов, готовых помочь вам выбрать идеальные компоненты для вашего ПК, а также 
                    обеспечить необходимую поддержку и консультации.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed text-color" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Товары, которые мы продаём
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Наш магазин - надежный источник для комплектующих высокого качества. Ищете мониторы? У нас есть разнообразие моделей с разрешением до 4K, 
                    с высокими частотами обновления и HDR поддержкой. Наши процессоры от таких мировых брендов, как Intel и AMD, обеспечат вашему компьютеру мощность, 
                    необходимую для выполнения самых требовательных задач. Хотите повысить производительность вашего ПК? Посмотрите наши SSD и HDD накопители с большим
                    объемом и высокой скоростью чтения/записи. А видеокарты от NVIDIA и AMD позволят вам насладиться играми с потрясающей графикой, благодаря поддержке
                    трассировки лучей и DLSS. Эти технологии создают реалистичные изображения и значительно повышают производительность в играх, делая ваш игровой опыт
                    еще более захватывающим. Также помимо основных устройств в нашем магазине вы можете приобрести дополнительные, такие как мыши, клавиатуры, колонки, 
                    наушники, сетевые адаптеры и многое другое.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed text-color" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Команда
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Павел - дизайнер сайта, также отвечает за реализацию сохранения данных в localStorage.<br>
                    Денис - сборщик данных для различных комплектующих ПК и подбор изображений.<br>
                    Владислав реализовал добавление, изменение и удаление комплектующих ПК, а также работу с формами.<br>
                    Хоанг - реализация считывания данных из файла.<br>
                    Тхо и Михаил - тестировщики.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed text-color" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Партнёры
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Наша компания сотрудничает с ведущими брендами компьютерной техники и комплектующих, такими как ASUS, MSI, Gigabyte, Seagate, Samsung и другими. 
                    Наши партнеры — это компании, чьи продукты отличаются передовыми технологиями, высоким качеством и надежностью. Благодаря сотрудничеству с ними, 
                    мы можем предложить вам доступ к самым инновационным решениям по конкурентоспособным ценам. Приобретая товары у нас, вы можете быть уверены в их 
                    качестве и поддержке от ведущих производителей в отрасли.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headinFive">
                <button class="accordion-button collapsed text-color" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Контакты
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headinFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Адрес: Магазиновая улица, 1, Самара, 443011, Россия<br>
                    Телефон: +7 (987) 654-32-10<br>
                    Электронная почта: info&#64;pcpartsstore.com
                </div>
            </div>
        </div>
    </div>
</main>
